/*Re-order the centre sections in the Full Record */



/* Hide the side menu except for the invisible 
  'Prev', 'Close', and 'Next' options for accessibility.*/
prm-full-view .services-index-under button:not(.accessible-close) {
  display: none;
}



#full-view-container >*:first-child { 
    display: flex; 
    flex-direction: column; 
} 

/* Reorder FullDisplay sections. */
#searchWithinJournal { order: 1; }
#getit_link1_0 { order: 2; }
#getit_link1_1 { order: 3; }
#getit_link2 { order: 4; }
#details { order: 5; }
#citationTrails { order: 6; }
#links { order: 7; }
#virtualBrowse { order: 8; }
#action_list { order: 9; }
#tags { order: 10; }




/*Re-order the left navigation in the Full Record 
[aria-label="Details"] { order: 1 !important; }
[aria-label="Send to"] { order: 2 !important; }
[aria-label="Physical item access"] { order: 3 !important; }
[aria-label="I want this"] { order: 4 !important; }
[aria-label="Links"] { order: 5 !important; }
[aria-label="Browse hierarchy"] { order: 6 !important; }
[aria-label="View online"] { order: 7 !important; }
*/

/*Hide "Send to" on side menu */
/*
.services-index-under[aria-label="Items Services"] {
display: none;
}
*/









